DB_CONNECT_STRING=pgsql:host=item-services-qa.cvy7z512hcjg.us-east-1.rds.amazonaws.com;dbname=item_service_qa
DB_USERNAME=itemserviceprod
DB_PASSWORD=AQECAHh7ea2tyZ6phZgT4B9BDKwguhlFtRC6hgt+7HbmeFsrsgAAAGcwZQYJKoZIhvcNAQcGoFgwVgIBADBRBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDBsj8mwFp7v1lXjTKAIBEIAkdoNxI5l9kGkULoRgKPziQ7xynX1YB86JE/D9EFtJCs4MOGso
ITEM_STREAM_NAME=Item-qa
ITEM_BULK_STREAM_NAME=ItemBulk-qa
SCHEMA_BASE_URL=https://platform.nypl.org/api/v0.1/current-schemas
CATALOG_URL_PREFIX=https://qa-www.nypl.org/research/collections/shared-collection-catalog/hold/request
SLACK_TOKEN=
SLACK_USERNAME=
XDEBUG_MODE=debug
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
